@font-face {
  font-family: 'iconfont';  /* project id 1949826 */
  src: url('//at.alicdn.com/t/font_1949826_6gh38amcou4.eot');
  src: url('//at.alicdn.com/t/font_1949826_6gh38amcou4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1949826_6gh38amcou4.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1949826_6gh38amcou4.woff') format('woff'),
  url('//at.alicdn.com/t/font_1949826_6gh38amcou4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1949826_6gh38amcou4.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remind:before {
  content: "\e790";
}

.icon-phone:before {
  content: "\e637";
}

.icon-email:before {
  content: "\e614";
}

.icon-excel:before {
  content: "\e78f";
}

.icon-download:before {
  content: "\e786";
}

.icon-loading:before {
  content: "\e787";
}

.icon-successmessage:before {
  content: "\e788";
}

.icon-radioactivity:before {
  content: "\e789";
}

.icon-checkbox-default:before {
  content: "\e78a";
}

.icon-radiodefault:before {
  content: "\e78b";
}

.icon-checkbox-activity:before {
  content: "\e78c";
}

.icon-checkbox:before {
  content: "\e78d";
}

.icon-errormessage:before {
  content: "\e78e";
}

.icon-account:before {
  content: "\e785";
}

.icon-addparent:before {
  content: "\e76e";
}

.icon-close:before {
  content: "\e76f";
}

.icon-downloadcenter:before {
  content: "\e770";
}

.icon-left-day:before {
  content: "\e771";
}

.icon-export:before {
  content: "\e772";
}

.icon-exportall:before {
  content: "\e773";
}

.icon-exitaccount:before {
  content: "\e774";
}

.icon-addsub:before {
  content: "\e775";
}

.icon-menu:before {
  content: "\e776";
}

.icon-right-day:before {
  content: "\e777";
}

.icon-delet:before {
  content: "\e778";
}

.icon-down:before {
  content: "\e779";
}

.icon-parent:before {
  content: "\e77a";
}

.icon-totop:before {
  content: "\e77b";
}

.icon-save:before {
  content: "\e77c";
}

.icon-link:before {
  content: "\e77d";
}

.icon-password:before {
  content: "\e77e";
}

.icon-right-month:before {
  content: "\e77f";
}

.icon-left-month:before {
  content: "\e780";
}

.icon-filter:before {
  content: "\e781";
}

.icon-tobottom:before {
  content: "\e782";
}

.icon-up:before {
  content: "\e783";
}

.icon-casesetting:before {
  content: "\e784";
}

